<div class = "font-light text-2xl" id="<%= dom_id furniture_item %>">
  <p>
    <span>Name:</span>
    <%= furniture_item.name %>
  </p>

  <p class= "mt-2 mb-5">
    <span>Material:</span>
    <%= furniture_item.material %>
  </p>

</div>
