<h1 class= "flex items-center justify-center">Editing furniture item</h1>

<%= render "form", furniture_item: @furniture_item %>

<br>

<div class= "flex items-center justify-center">
  <%= link_to "Show this furniture item", @furniture_item %> |
  <%= link_to "Back to furniture items", furniture_items_path %>
</div>
